<h2>Create An Account</h2>
<form action="<%= users_url %>" method="post"> 
    <label> Please Input Username Here
        <input type="text" name="user[username]">
    </label>
    <label> Please Create Password Here
        <input type="text" name="user[password]">
    </label>
    <button> Create User </button>
</form>